#windows{
  .container{
    .row{
      .col-md-12{
        h1{
          font-size: 50px;
          font-weight: bold;
        }
      }
      .col-md-3{
        ul{
          padding: 0px;
          a{
            text-decoration: none;
            color: #677d8f;
            li{
              list-style: none;
              padding: 12px 0 14px 22px;
              background-color: #F2F4F5;
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 2px;
              &:hover{
                background: white;
                border-left: 3px solid #6fbf52;
                transition: all .2s ease;
              }
              i{
                font-size: 20px;
                margin-right: 5px;
              }
            }
          }
        }
      }
      .col-md-9{
        .windowsItemTitle{
          h1{
            margin-top: 30px;
          }
          p{
            margin-top: 30px;
          }
          h4{
            margin-top: 30px;
          }
          ul{
            padding: 0;
            li{
              list-style: none;
              font-size: 20px;
              font-weight: 600;
              h3{
                margin-top: 20px;
               i{
                 margin-right: 5px;
               }
              }
              p{
                font-size: 16px;
                margin-top: 20px;
                font-weight: 400;
              }
            }
          }
        }
      }
      .col-md-3{
        .questionBox{
          padding: 5px 7px 3px;
          background: url(../images/services/apartmant/question-box-bg.jpg);
          background-size: cover;
          h1{
            margin-top: 30px;
            color: white;
            font-size: 36px;
          }
          form{
            margin-top: 30px;
            textarea{
              height: 160px;
            }
          }
          button{
            margin-top: 20px;
            background-color: white;
            border-radius: 40px;
          }
        }
      }
      .col-md-8{
        background-color: #f3f3f3;
        .row{
          .col-md-4{
            padding: 30px 26px;
            span{
              font-size: 20px;

            }
            p{
              font-size: 20px;
              // margin-top: 15px;
            }
          }
        }
      }
    }
  }
}
